/* The header banner */
.header-banner {
  background-image: url("../../../assets/image.png");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 50vh;
}

/* Header overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.714);
}
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  justify-content: flex-start;
}

/* Make all text bigger */
.overlay-content h1 {
  font-size: 2rem; /* big main heading */
  font-weight: bold;
}

.overlay-content h4,
.overlay-content p,
.overlay-content h2 {
  font-size: 1.3rem; /* bigger subtext */
}

.animated {
  animation-duration: 1s;
}

.animated-texts h1 {
  animation: fadeInDown 1s ease-in-out;
}

.animated-texts p,
h1,
h2 {
  animation: fadeInUp 1s ease-in-out;
}

.header-color {
  color: rgb(220, 114, 28);
}